<application
        android:name="your app bundle"
        android:label="your app name"
        android:requestLegacyExternalStorage="true" 
        android:icon="@mipmap/ic_launcher">
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ICE">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
